<!--The whole content below can be removed with the new code.-->
<div style='width:100%;float: left;'>
  <div style='width:100%;float: left;'>
    <app-header> </app-header>
  </div>
  <div style='width:100%;float: left;'>
    <div class='articleTree'>
      <div style='height:60%;float: left;'>
        <app-articletree> </app-articletree>
      </div>
      <!-- <div class="graphsSection">
        Administration
      </div> -->
      <div style='float: left;width:100%'>
        <app-administration> </app-administration>
      </div>
    </div>
    <div class='articleTreeTab'>
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>


