.articleTree {
    float: left;
    /*margin-top: 8px; */
    width: 18.2%;
}

.articleTreeTab {
    float: left;
    width: 80%;
}

.graphsSection{
    float:left;
    width:100%;
    border:1px solid black;
    background-color: #de7022;
    height: 25px;
    font-weight: bold;
    text-align: center;
}